<%- include('partials/header'); -%>
  <h1>Compose</h1>

  <!-- should submit to the /compose route with post method  -->
  <!-- make sure you add subimt type to the button -->
  <!-- name of input is need to access it later -->
  <form action="/compose" method="POST">
    <div class="form-group">
      <label>Title</label>
      <textarea class="form-control" name="postTitle" rows="1" cols="150"></textarea>
      <br>
      <label>Post</label>
      <textarea class="form-control" name="postContent" rows="7" cols="150"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Publish</button>
  </form>



  <%- include('partials/footer'); -%>